<div
        ng-class="{
     'oi-select_multiple': vm.multiple,
     'oi-select_single': !vm.multiple,
     'oi-select_open': vm.isOpen,
     'oi-select_focused': vm.focused,
     }"
>
    <div class="oi-select__field">
        <oi-select-field
                backspace-focus="vm.backspaceFocus"
                edit-mode="vm.editMode"
                element="vm.element"
                model-params="vm.modelParams"
                multiple="vm.multiple"
                old-query="vm.oldQuery"
                on-change="vm.onChangeQuery()"
                on-key-down="vm.onKeyDown(event)"
                on-key-up="vm.onKeyUp(event)"
                on-remove="vm.removeItem(index)"
                placeholder="vm.placeholderValue"
                query="vm.query"
                select-options="vm.selectOptions"
                show-loader="vm.showLoader"
                value="vm.value"
        >
        </oi-select-field>
    </div>

    <div class="oi-select__dropdown" ng-show="vm.isOpen">
        <oi-select-dropdown
                element="vm.element"
                groups="vm.groups"
                hovered-element="vm.selectorPosition"
                model-params="vm.modelParams"
                on-hover="vm.setItemSelection(index)"
                on-select="vm.addItem(item)"
                options="vm.options"
                query="vm.oldQuery || vm.query"
                select-options="vm.selectOptions"
        ></oi-select-dropdown>
    </div>
</div>
