$oi-select-border-color: #d9d9d9;
$oi-select-dropdown-border-color: #66afe9;
$oi-select-dropdown-background-color: #fff;

oi-select {
  display: block;
  position: relative;
  width: 100%;

  .select {
    &-search {
      cursor: text;
      border: 1px solid $oi-select-border-color;
      background-color: white;
      overflow: hidden !important;
      box-sizing: border-box;
      border-radius: 4px;

      &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 2px 4px;
        list-style: none;

        &-item {
          font-size: 14px;
          margin: 2px 4px 2px 0;
          vertical-align: middle;
          white-space: normal;

          &_selection {
            cursor: pointer;
            background: #efefef;
            border-color: #ebebeb;

            &:hover {
              border-color: #e5e5e5;
            }

            &:active,
            &.focused {
              border: 1px solid #fff;
              border-radius: 0;
              box-shadow: inset 0 0 10px 5px #fff;
            }

            &.focused {
              .close {
                display: none;
              }
            }

            &-remove {
              padding-left: 2px;
            }
          }

          &_loader {
            float: right;
            width: 23px;
            height: 23px;
            margin: 3px 3px 0 0;
            position: relative;
            background-color: $oi-select-dropdown-border-color;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
          }

          &_input {
            flex-grow: 1;
            margin: 4px 0 5px 5px;

            input {
              padding: 0;
              outline: 0;
              border: 0;
              width: 100%;
            }
          }

          &_hide {
            position: fixed;
            width: 0;
            height: 0;
            margin: 0;
            opacity: 0;
            pointer-events: none;
            text-indent: -9999em;
          }
        }
      }
    }

    &-dropdown {
      position: absolute;
      width: inherit;
      overflow-y: scroll;
      max-height: 100px;
      min-width: 160px;
      font-size: 14px;
      background-color: $oi-select-dropdown-background-color;
      border-radius: 0 0 4px 4px;
      border: 1px solid $oi-select-dropdown-border-color;
      border-top: 0;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($oi-select-dropdown-border-color,0.3);
      background-clip: padding-box;
      z-index: 1000;

      &-optgroup {
        margin: 0;
        padding: 0;

        &-header {
          font-weight: bolder;
          padding: 3px 10px;
        }

        &-option {
          padding: 3px 20px;

          &.active:not(.disabled) {
            background-color: #f1f1f1;
            cursor: pointer;
          }

          &.disabled {
            color: #aaa;
          }
        }
      }
    }
  }

  &:not(.multiple) {
    .select {
      &-search {
        &-list {
          &-item {
            &_selection {
              color: #000;
              width: 100%;
              border-color: #fff;
              text-align: left;

              &:not(:active) {
                background: none;
              }
            }
          }
        }
      }
    }
  }

  &:not(.multiple):not(.cleanMode) {
    .select {
      &-search {
        &-list {
          &-item {
            &_selection {
              &-remove {
                display: none;
              }
            }
          }
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          right: 10px;
          width: 0;
          height: 0;
          margin-top: -19px;
          border-color: #000 transparent transparent transparent;
          border-style: solid;
          border-width: 5px 5px 0 5px;
        }
      }
    }
  }

  &[disabled="disabled"] {
    .select {
      &-search {
        cursor: not-allowed;
        background: #eee;
        border: 1px solid #bdbdbd;
        opacity: 0.5;

        &-list {
          &-item {
            &_selection {
              cursor: not-allowed;
              box-shadow: none;
              border-color: transparent;

              &-remove {
                visibility: hidden;
              }
            }

            &_input {
              input:disabled {
                cursor: not-allowed;
                background: none;
              }
            }
          }
        }
      }
    }
  }

  &.focused {
    .select-search {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  &.limited, &.invalid-item {
    .select-search,
    .select-dropdown {
      border-color: #f1bc28;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 189, 46, 0.6);
    }
  }

  &.open {
    .select-search {
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    }
  }

  &.open:not(.multiple) {
    .select-search:after {
      border-color: transparent transparent #000 transparent;
      border-width: 0 5px 5px 5px;
    }
  }

  &.loading:not(.multiple) {
    .select-search:after {
      border-width: 0;
    }
  }

  &.emptyList {
    .select-dropdown-optgroup-option {
      strong {
        font-weight: normal;
      }
    }
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}