<div class="oi-select__field"
>
    <ul class="oi-select__items"
        ng-class="{'oi-select__items_empty':!output.length,'oi-select__items_loading':showLoader}">
        <li
                class="oi-select__item oi-select__item_selection"
                ng-class="{focused: backspaceFocus && $last}"
                ng-click="removeItem($index)"
                ng-hide="listItemHide"
                ng-repeat="item in output track by $index"
        >
            <span
                    class="oi-select__label"
                    ng-bind-html="getSearchLabel(item)"
            ></span>
        </li>
        <li
                class="oi-select__item oi-select__input"
                ng-class="{'oi-select__item_hide': inputHide}"
        >
            <input
                    autocomplete="off"
                    class="oi-select__input_element"
                    ng-keydown="keyDown($event)"
                    ng-keyup="keyUp($event)"
                    ng-model="query"/>
        </li>
        <li
                class="oi-select__item oi-select__loader"
                ng-show="showLoader"
        >
        </li>
    </ul>
</div>
<div class="oi-select__dropdown" ng-show="isOpen">
    <ul
            ng-if="isOpen" class="oi-select__optgroup"
            ng-repeat="(group, options) in groups"
    >
        <div
                class="oi-select__optgroup_header"
                ng-if="group && options.length"
                ng-bind-html="getGroupLabel(group, options)"
        ></div>
        <li
                class="oi-select__option"
                ng-init="isDisabled = getDisableWhen(option)"
                ng-repeat="option in options"
                ng-class="{'active': selectorPosition === groupPos[group] + $index, 'disabled': isDisabled, 'ungroup': !group}"
                ng-click="isDisabled || addItem(option)"
                ng-mouseenter="setSelection(groupPos[group] + $index)"
                ng-bind-html="getDropdownLabel(option)"
        ></li>
    </ul>
</div>
