$oi-select: '.oi-select';
// elements
$oi-select-field: #{$oi-select}__field;
$oi-select-items: #{$oi-select}__items;
$oi-select-items-empty: #{$oi-select-items}_empty;
$oi-select-item: #{$oi-select}__item;
$oi-select-item-selection: #{$oi-select-item}_selection;
$oi-select-input: #{$oi-select}__input;
$oi-select-input-element: #{$oi-select-input}-element;
$oi-select-remove: #{$oi-select}__remove;
$oi-select-dropdown: #{$oi-select}__dropdown;
$oi-select-optgroup: #{$oi-select}__optgroup;
$oi-select-option: #{$oi-select}__option;
// states
$oi-select-single: #{$oi-select}_single;
$oi-select-multiple: #{$oi-select}_multiple;
$oi-select-open: #{$oi-select}_open;
$oi-select-focused: #{$oi-select}_focused;
