$oi-select-background: #fff;

$oi-select-border-color: darken($oi-select-background, 20);

$oi-select-input-color: darken($oi-select-background, 55);
$oi-select-input-placeholder-color: darken($oi-select-background, 40);
$oi-select-input-color--focused: darken($oi-select-background, 65);
$oi-select-dropdown-border-color: #428bca;
$oi-select-dropdown-background: $oi-select-background;

$oi-select-dropdown-active-background: lighten($oi-select-dropdown-border-color, 0);
$oi-select-dropdown-active-color: lighten($oi-select-dropdown-border-color, 65);

$oi-select-dropdown-disabled-color: darken($oi-select-background, 20);

$oi-select-dropdown-multiple-item-border-radius: 20px;
$oi-select-dropdown-multiple-item-background: lighten($oi-select-dropdown-border-color, 0);
$oi-select-dropdown-multiple-item-border-color: darken($oi-select-dropdown-border-color, 15);
$oi-select-dropdown-multiple-item-color: lighten($oi-select-dropdown-border-color, 60);

$oi-select-dropdown-multiple-item-background--hover: darken($oi-select-dropdown-border-color, 5);
$oi-select-dropdown-multiple-item-border-color--hover: darken($oi-select-dropdown-border-color, 25);
$oi-select-dropdown-multiple-item-color--hover: lighten($oi-select-dropdown-border-color, 65);

$oi-select-dropdown-multiple-item-border-color--active: darken($oi-select-dropdown-multiple-item-border-color--hover, 10);
$oi-select-dropdown-multiple-item-background--active: darken($oi-select-dropdown-multiple-item-background--hover, 10);

$oi-select-disabled-background: darken($oi-select-background,10);
$oi-select-disabled-border-color: darken($oi-select-background,25);

$oi-select-invalid-color: #e47833;
$oi-select-border-radius: 5px;

