@import "mixins";

oi-select {
  display: block;
  position: relative;
  width: 100%;
  .select {
    &-search {
      cursor: text;
      border: 1px solid $oi-select-border-color;
      background-color: $oi-select-background;
      overflow: hidden !important;
      box-sizing: border-box;
      border-radius: $oi-select-border-radius;
      &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 2px 4px;
        list-style: none;
        min-height: 34px;
        &-label {
          line-height: 23px;
        }
        &-item {
          font-size: 14px;
          margin: 2px 4px 2px 0;
          vertical-align: middle;
          white-space: normal;
          padding: 1px 5px;

          &_selection {
            cursor: pointer;
            background: $oi-select-dropdown-multiple-item-background;
            color: $oi-select-dropdown-multiple-item-color;
            border-color: $oi-select-dropdown-multiple-item-border-color;
            border-radius: $oi-select-dropdown-multiple-item-border-radius;
            @if($oi-select-dropdown-multiple-item-border-radius > 9px){
              padding: 1px 5px 1px 10px;
            }
            &:hover {
              background: $oi-select-dropdown-multiple-item-background--hover;
              color: $oi-select-dropdown-multiple-item-color--hover;
              border-color: $oi-select-dropdown-multiple-item-border-color--hover;

            }

            &:active,
            &.focused {
              border-color: $oi-select-dropdown-multiple-item-border-color--active;
              border-radius: $oi-select-dropdown-multiple-item-border-radius;
              background: $oi-select-dropdown-multiple-item-background--active;
            }

            &.focused {
              .close {
                display: none;
              }
            }
            &-remove {
              opacity: 0.8;
              padding: 0 2px 0 4px;
              line-height: 15px;
              margin: 3px;
              color: $oi-select-dropdown-multiple-item-color;
            }
          }

          &_loader {
            float: right;
            width: 23px;
            height: 23px;
            margin: 3px 4px 0 0;
            position: relative;
            background-color: $oi-select-dropdown-border-color;
            border-radius: 100%;
            -webkit-animation: oi-select-loader-animation 1.0s infinite ease-in-out;
            animation: oi-select-loader-animation 1.0s infinite ease-in-out;
          }

          &_input {
            flex-grow: 1;
            margin: 3px 0 3px 0;

            input {
              padding: 0;
              outline: 0;
              border: 0;
              width: 100%;
              background: transparent;
              color: $oi-select-input-color;
              @include placeholder {
                color: $oi-select-input-placeholder-color;
              }
            }
          }

          &_hide {
            position: fixed;
            width: 0;
            height: 0;
            margin: 0;
            opacity: 0;
            pointer-events: none;
            text-indent: -9999em;
          }
        }
      }
    }

    &-dropdown {
      position: absolute;
      width: inherit;
      overflow-y: scroll;
      max-height: 100px;
      min-width: 160px;
      font-size: 14px;
      background-color: $oi-select-dropdown-background;
      border-radius: 0 0 $oi-select-border-radius $oi-select-border-radius;
      border: 1px solid $oi-select-dropdown-border-color;
      border-top: 0;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($oi-select-dropdown-border-color, 0.3);
      background-clip: padding-box;
      z-index: 1000;

      &-optgroup {
        margin: 0;
        padding: 0;

        &-header {
          font-weight: bolder;
          padding: 3px 10px;
        }

        &-option {
          padding: 6px 20px;

          &.active:not(.disabled) {
            background-color: $oi-select-dropdown-active-background;
            color: $oi-select-dropdown-active-color;
            cursor: pointer;
          }

          &.disabled {
            color: $oi-select-dropdown-disabled-color;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  &:not(.multiple) {
    .select {
      &-search {
        &-list {
          &-item {
            &_selection {
              color: $oi-select-input-color;
              width: 100%;
              text-align: left;
              padding: 1px 5px;
              border-color: transparent;
              background: transparent;
              &:not(:active) {
                background: none;
              }
              &-remove{
                color: $oi-select-input-color;
                opacity: 0.6;
                background: transparent;
                float: right;
                font-size: 21px;
                font-weight: 500;
                padding: 0;
                &:hover,&:focus{
                  opacity: 0.8;
                  color: $oi-select-input-color--focused;
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.multiple):not(.cleanMode) {
    .select {
      &-search {
        &-list {
          &-item {
            &_selection {
              &-remove {
                display: none;
              }
            }
          }
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          right: 16px;
          width: 0;
          height: 0;
          margin-top: -19px;
          border-color: $oi-select-input-color transparent transparent transparent;
          border-style: solid;
          border-width: 5px 5px 0 5px;
        }
      }
    }
  }

  &[disabled="disabled"] {
    .select {
      &-search {
        cursor: not-allowed;
        background: $oi-select-disabled-background;
        border: 1px solid $oi-select-disabled-border-color;
        opacity: 0.5;
        &-list {
          &-item {
            &_selection {
              cursor: not-allowed;
              box-shadow: none;
              border-color: transparent;
              pointer-events: none;

              &-remove {
                visibility: hidden;
                width: 0;
                padding: 0;
              }
            }

            &_input {
              input:disabled {
                cursor: not-allowed;
                background: none;
              }
            }
          }
        }
      }
    }
  }

  &.focused {
    .select-search {
      border-color: $oi-select-dropdown-border-color;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($oi-select-dropdown-border-color, 0.6);
    }
  }

  &.limited, &.invalid-item {
    .select-search,
    .select-dropdown {
      border-color: $oi-select-invalid-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($oi-select-invalid-color, 0.6);
    }
  }

  &.open {
    .select-search {
      border-radius: $oi-select-border-radius $oi-select-border-radius 0 0;
    }
  }

  &.open:not(.multiple) {
    .select-search:after {
      border-color: transparent transparent $oi-select-input-color transparent;
      border-width: 0 5px 5px 5px;
    }
  }

  &.loading:not(.multiple) {
    .select-search:after {
      border-width: 0;
    }
  }

  &.emptyList {
    .select-dropdown-optgroup-option {
      strong {
        font-weight: normal;
      }
    }
  }
}

@-webkit-keyframes oi-select-loader-animation {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes oi-select-loader-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}